/* common_style.css
Dette stilarket benyttes av alle nettlesere.

Se generic_style.css og iespecific_style.css for
stiler som avviker mye fra IE/Opera og andre nettlesere.
/*

/* Linker */
a {
	color: #676c56;
	font-weight: bold;
	background-color: transparent;
}

/* Selve linken på knappene. Benyttes nesten overalt */
a.button, a.redbutton {
	color: #ffffff;
}

/* Samme som over, men for de røde knappene */
a.redbutton:hover {
	color: #676c56;
}

/* Linker generelt */
a:link, a:visited { 
	text-decoration: none;
}

/* Linker i navigeringa */
a.nav {
	font-size: 7pt;
	color: #ffffff;
	background-color: transparent;
}

a.nav:hover {
	color: #b0b993;
	
}

/* Linker når pekeren er over dem og når de klikkes på */
a:hover, a:active {
	text-decoration: none;
	color: #b0b993;
}

/* Linkene i navigeringa når gjeldende linkmål er åpnet */
a.activenav {
	font-size: 7pt;
	text-decoration: none;
	color: #b0b993;
}

/* Generell definisjon for dokumentet */
body {
	color: #c0c0c0;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	background: url("/images/dingo-bg.jpg");
	background-color: #000000;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
}

/* Hovedtabellen - den som inneholder hele sida */
table.main {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/* banner: Banner-cella i hovedtabellen */
td.banner {
	text-align: center;
	/*background: url("../images/bannerbg.gif") no-repeat center;*/
	vertical-align: middle;
}

/* navbar: cella i hovedtabellen som inneholder navigasjonen */
td.navbar {
	vertical-align: top;
	width: 10%;
	padding-right: 20px;
}

/* De elementer som har helramme */
.bordered {
	border: 2px groove #676c56;
}

/* Elementer som har topp-ramme */
.bt {
	border-top: 2px groove #676c56;
}
/* Elementer som har bunn-ramme */
.bb {
	border-bottom: 2px groove #676c56;
}
/* Elementer som har venstre-ramme */
.bl {
	border-left: 2px groove #676c56;
}
/* Elementer som har høyre-ramme */
.br {
	border-right: 2px groove #676c56;
}

.bs {
	border-right: 2px groove #676c56;
	border-left: 2px groove #676c56;
}

/* listheader: Raden som er header i lister f.eks. over roller og spillere */
.highlight {
	background-color: #3e4134;
	font-weight: bold;
}

/* Ting som skal sentreres */
.center {
	text-align: center;
}

/* naventry: Navigeringslink i navigeringa */
td.naventry {
	font-size: 8pt;
	color: #c0c0c0;
	background-color: #000000;
	font-weight: normal;
}

/* navend: Den nederste cella i hver navigerings-seksjon */ 
td.navend {
	font-size: 8pt;
	color: #c0c0c0;
	background-color: #000000;
	font-weight: normal;
	padding-left: 5px;
	padding-right: 5px;
}

td {
	vertical-align: top;
	padding-left: 7px;
	padding-right: 7px;
}

td.tooltip {
	padding-left: 0;
	padding-right: 0;
}

/* Celler som bare inneholder knapper tilhører denne klassen for at de ikke skal bli for store */
td.nospace {
	margin: 0;
	padding: 0;
}

/* Tabellen for bunnen av sida */
table.bottom {
	border-top: 1px #676c56 solid;
	font-size: 9pt;
}

/* TD for bunnen av sida */
td.bottom {
	color: #b0b993;
	vertical-align: top;
	font-size:8pt;
}

h6 {
	color: #676c56;
	margin: 0;
	font-size: 8pt;
}

h5 {
	color: #676c56;
	margin: 0;
	font-weight: bold;
	font-size: 9pt;
}

h4 {
	color: #676c56;
	margin-bottom: 0;
	margin-top: 1em;
	font-size: 10pt;
}

/* H4 brukes av og til inne i tabeller. Her slår vi av den ovenfor definerte topp-marginen for den */
h4.table {
	margin: 0;
}

h3 {
	color: #676c56;
	margin: 0;
	font-size: 12pt;
}

h2 {
	color: #676c56;
	margin: 0;
	font-size: 14pt;
}

h1 {
	color: #676c56;
	margin: 0;
	font-size: 16pt;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

/* Fjerne rammer rundt bilder som også er linker, om det er noen */
a img {
	border: 0;
}

li {
	margin-bottom: 0.5em;
}

/* Tekst som skal være mindre, f.eks. små anekdoter og andre ting */
.small {
	font-size: 8pt;
}

select {
	font-size: 8pt;
	background-color: #ffffff;
}

input {
	font-size: 8pt;
	background-color: #ffffff;
}

/* Filterboxes are the input-fields for filtering various listss */
input.filterbox {
	font-size: 7pt;
	font-weight: bold;
}

textarea {
	font-size: 8pt;
	background-color: #ffffff;
}

.tiny {
	font-size: 7pt;
}

/* Elementer med "grønn" tekst (stort sett diverse statusmeldinger) */
.green {
	color: #009900;
}

.red {
	color: #ff0000;
}

table.statuswindow {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 3px;
	margin-right: 3px;
	width: 140px;
	text-align: center;
	border: inset 1px #676c56;
	background-color: transparent;
	font-size: 8pt;
	color: #c0c0c0;
}

.selectname {
	margin-bottom: 0.5em;
	font-style: italic;
}

/* Kalenderstiler */

#kalidag {
	background-color: #676c56;
}

#kaldenneuke {
	background-color: #676c56;
	font-weight: bold;
}

.kalmerkedag {
	color: #ffffff;
	font-weight: bold;
}

.kalhelligdag {
	font-weight: bold;
	color: #ff0000;
}

.kaldagtittel {
	font-size: 7pt;
}